.description + .action {
  margin-top: 1em;
}

.intro {
  img {
    width: 800px;
    padding-bottom: 64px;
  }
}

.title {
  font-size: 5rem;
  margin: 0 0 1rem;
}

.description {
  color: var(--secondary-color-light);
  font-size: 2rem;

  padding-bottom: 48px;
}
