@import "src/scss/breakpoints.module.scss";

.game-nav {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    font-size: 1rem;
    width: 100px;
  }

  @include sm-breakpoint {
    padding: 1em 0 1em 0.5em;
  }
}

.game-title {
  margin: 0;
  font-size: 1em;
}

.game-intro-title {
  margin: 0;
}

.game-container {
  @include sm-breakpoint {
    position: fixed;
    overflow: hidden;
  }
}
