.card {
  background-color: rgb(3, 29, 48);
  border: 1px solid grey;
  width: 150px;
  height: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: all linear 0.3s;
  transform: rotate3d(0, 1, 0, 180deg);
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    transform: rotate3d(0, 1, 0, 180deg) translate(-2px, -2px);
    filter: brightness(1.5);
  }
}

.card.flipped {
  transform: unset;
  transform-style: preserve-3d;
  pointer-events: none;
}

.back-side {
  background-color: rgb(3, 29, 48);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipped .back-side {
  transform: rotate3d(0, 1, 0, 180deg);
}
