@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body {
  background: var(--background-color);
  font-family: "Ubuntu Mono";
  align-items: center;
  margin: 0;
  font-size: 30px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
