@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
:root {
  --hue: 200;

  --background-color: #21334e;

  --primary-color: #166088;
  --primary-color-dark: #4a6fa5;
  --primary-color-light: #c0d6df;

  --color-card: #`;
  --color-card-hover: #3a3a3a;
  --color-box-shadow: #101010;

  --secondary-color: hsl(var(--hue) 25% 25%);
  --secondary-color-dark: hsl(var(--hue) 15% 15%);
  --secondary-color-light: #dbe9ee;

  --acc-color: #3062ce;
  --acc-color-dark: hsl(var(--hue) 90% 35%);
  --acc-color-light: hsl(var(--hue) 90% 60%);
}

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 "Montserrat";
  color: var(--secondary-color-light);
  margin: 0;
}

button {
  font: inherit;
  color: var(--secondary-color);
}

img,
svg {
  vertical-align: middle;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
